name: Release Please

on:
  push:
    branches:
      - main
      - release-candidate

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  pre-release-please:
    if: github.ref == 'refs/heads/release-candidate'
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          config-file: pre-release-please-config.json
          manifest-file: .pre-release-please-manifest.json

  release-please:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
