name: Release Please

on:
  push:
    branches:
      - main
      - release-candidate

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  pre-release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          prerelease: ${{ github.ref_name == 'refs/heads/release-candidate' }}
          prerelease-type: rc
